<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>TODDO LIST</h1>
        </div>
        <div class="pass" v-if="isLoggin">
            <p>Nick: admin</p>
            <p>Hasło: qwerty</p>
        </div>
        <div class="form" v-if="isLoggin">
            <h2>{{formHeader}}</h2>
            <p>Nick:</p><input type="text" v-model="nickName">
            <p>Hasło:</p><input type="password" v-model="password">
            <button type="submit" class="btn" @click="logginIn">Zaloguj</button>
        </div>

        <div class="newtaskform" v-if="!isLoggin">
            <input type="text" v-model="taskTitle" placeholder="Wpisz nazwę zadania">
            <select v-model="taskCategory">
                <option value="" disabled selected>Wybierz kategorię</option>
                <option value="praca">Praca</option>
                <option value="zakupy">Zakupy</option>
                <option value="dzieci">Dzieci</option>
                <option value="rozrywka">Rozrywka</option>
            </select>
            <input type="date" placeholder="wybierz datę" v-model="taskDate">
            <button class="btn" @click="addNewTask">Dodaj zadanie</button>
        </div>

            


        <div class="todo" v-if="!isLoggin">
            
                <div class="newtask" v-for="item in newTaskData" :class="{ finished: isFinished }">
                    <input class="firstP" type="checkbox" v-model="isFinished">
                    <h3 class="secondP">{{item.taskTitle}}</h3>
                    <p class="thirdP">{{item.taskCategory}}</p>
                    <p class="forthP">{{item.taskDate}}</p>
                    <p class="fifthP">
                        <button class="btnTodo" @click="newTaskData.splice(index, 1)">usuń</button>
                    </p>
                </div>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>