<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>TODDO LIST</h1>
        </div>

        <div class="pass" v-if="!isLoggin">
            <p>Nick: admin</p>
            <p>Hasło: qwerty</p>
        </div>

        <div class="form" v-if="!isLoggin">
            <h2>{{formHeader}}</h2>
            <p>Nick:</p><input type="text" v-model="nickName">
            <p>Hasło:</p><input type="password" v-model="password" @keyup.enter="logginIn">
            <button class="btn" @click="logginIn">Zaloguj</button>
        </div>


        <div class="newtaskform" v-if="isLoggin">
            <input type="text" maxlength="25" v-model="taskTitle" v-bind:style="taskTitleStyle" placeholder="Nazwa zadania(max 25 znaków)">
            <select v-model="taskCategory" v-bind:style="taskCategoryStyle">
                <option value="" disabled selected>Wybierz kategorię</option>
                <option value="praca">Praca</option>
                <option value="zakupy">Zakupy</option>
                <option value="dzieci">Dzieci</option>
                <option value="rozrywka">Rozrywka</option>
            </select>
            <input type="date" @keyup.enter="addNewTask" placeholder="wybierz datę" v-model="taskDate" v-bind:style="taskDateStyle">
            <button class="btn" @click="addNewTask">Dodaj zadanie</button>
        </div>

        <div class="todo" v-if="isLoggin">
                <div class="newtask" v-for="(item, index) in newTaskData">
                    <p>{{index+1}}</p>
                    <input class="check" type="checkbox">
                    <div class="title"><p>{{item.taskTitle}}</p></div>
                    <p class="pStyle">{{item.taskCategory}}</p>
                    <p class="pStyle">{{item.taskDate}}</p>
                    <button class="btnTodo" @click="newTaskData.splice(index, 1)">usuń</button>
                </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>