<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>TODDO LIST</h1>
        </div>
        <div class="pass" v-if="isLoggin">
            <p>Nick: admin</p>
            <p>Hasło: qwerty</p>
        </div>
        <div class="form" v-if="isLoggin">
            <h2>{{formHeader}}</h2>
            <p>Nick:</p><input type="text" v-model="nickName">
            <p>Hasło:</p><input type="password" v-model="password">
            <button type="submit" class="btn" @click="logginIn">Zaloguj</button>
        </div>

        <div class="newtask" v-if="!isLoggin">
            <input type="text" v-model="taskTitle" placeholder="Wpisz nazwę zadania">
            <select v-model="taskCategory">
                <option value="" disabled selected>Wybierz kategorię</option>
                <option value="praca">Praca</option>
                <option value="zakupy">Zakupy</option>
                <option value="dzieci">Dzieci</option>
                <option value="rozrywka">Rozrywka</option>
            </select>
            <input type="date" placeholder="wybierz datę" v-model="taskDate">
            <button class="btn" @click="addNewTask">Dodaj zadanie</button>
        </div>

            


        <div class="todo" v-if="!isLoggin">

            <table>
                <tr>
                    <th>L.p.</th>
                    <th>Nazwa zadania</th>
                    <th>Kategoria</th>
                    <th>Data</th>
                    <th>Opcje</th>
                </tr>
                <tr v-for="(item, index) in newTaskData">
                    <td>{{index+1}}</td>
                    <td>{{item.taskTitle}}</td>
                    <td>{{item.taskCategory}}</td>
                    <td>{{item.taskDate}}</td>
                    <td>
                        <button class="btnTodo">usuń</button>
                        <button class="btnTodo">zakończ</button>
                    </td>
                </tr>
            </table>

        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>