html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    margin:0;
    background: #3e9163;  /* fallback for old browsers */
    background: -webkit-linear-gradient(123deg, #FFFFFF 0%, #00B2FF 100%), -webkit-linear-gradient(236deg, #BAFF99 0%, #005E64 100%), -webkit-linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), -webkit-linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), -webkit-linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
    background: linear-gradient(123deg, #FFFFFF 0%, #00b2ff 100%), linear-gradient(236deg, #BAFF99 0%, #005E64 100%), linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
    background-blend-mode: overlay, overlay, overlay, darken, normal;
}

#app{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 1% 1%; 
    height:100%;
}

.header{
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
    display: flex;
    color: cyan;
    font-style: italic;
    font-size: 2.5rem;
}

.btn{
    background-color: rgba(0,0,0,0.44);
    color:#fff;
    border:2px solid #fff;
    padding: 0.3rem 2rem;
    font-size: 1.1em;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(160, 23, 23, 0.24);
}

input, select, select option{
    background: transparent;
    -webkit-appearance: none;
    border: 2px solid #fff;
    color:#fff;
    font-size: 1.2em;
    padding: 0.3rem 2rem;
}

select option{
    background-color: rgba(179, 37, 171, 0.75);
}

.form, .todo, .newtask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form {
    grid-area: 3 / 3 / 7 / 5;
}

.todo {
    grid-area: 3 / 2 / 8 / 6;
}

.newtask {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: 2 / 2 / 3 / 6; 
}

.pass { 
    display: flex;
    flex-direction: column;
    grid-area: 1 / 6 / 2 / 7; 
    z-index: 1;
}