html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    margin:0;
    background: #3e9163;  /* fallback for old browsers */
    background: -webkit-linear-gradient(123deg, #FFFFFF 0%, #00B2FF 100%), -webkit-linear-gradient(236deg, #BAFF99 0%, #005E64 100%), -webkit-linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), -webkit-linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), -webkit-linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
    background: linear-gradient(123deg, #FFFFFF 0%, #00b2ff 100%), linear-gradient(236deg, #BAFF99 0%, #005E64 100%), linear-gradient(180deg, #FFFFFF 0%, #002A5A 100%), linear-gradient(225deg, #0094FF 20%, #BFF4ED 45%, #280F34 45%, #280F34 70%, #FF004E 70%, #E41655 85%, #B30753 85%, #B30753 100%), linear-gradient(135deg, #0E0220 15%, #0E0220 35%, #E40475 35%, #E40475 60%, #48E0E4 60%, #48E0E4 68%, #D7FBF6 68%, #D7FBF6 100%);
    background-blend-mode: overlay, overlay, overlay, darken, normal;
}

#app{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 1% 1%; 
    height:100%;
}

.header{
    grid-area: 1 / 1 / 2 / 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
    display: flex;
    color: rgb(0, 38, 255);
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
    font-size: 3.5vh;
    letter-spacing: 2.5vw;
}

.pass { 
    display: flex;
    flex-direction: column;
    grid-area: 1 / 6 / 2 / 7; 
    z-index: 1;
}

.btn, .btnTodo {
    background-color: rgba(0,0,0,0.44);
    color:#fff;
    border:2px solid rgba(255, 255, 255, 0.5);
    padding: 0.4vw 2vw;
    margin: 1vw 1vw 1vw 1vw;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover, .btnTodo:hover {
    background-color: rgba(160, 23, 23, 0.24);
}

.form, .todo, .newtaskform, .newtask {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input[type=text], input[type=date], input[type=password], select, select option {
    background: transparent;
    -webkit-appearance: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color:lightgray;
    font-size: 1vw;
    padding: 0.3vw 2vw;
    margin: 1vw 1vw 1vw 1vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select option{
    background-color: rgba(66, 35, 179, 0.692);
}

.form {
    grid-area: 3 / 3 / 7 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form > p {
    margin-bottom: -0.8vw;
}

.newtaskform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-area: 2 / 2 / 3 / 6; 
    font-size: 1vw;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.newtaskform > input[type=text] {
    min-width: 20vw;
    text-align: center;
}

.todo {
    grid-area: 3 / 2 / 8 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo > * {
    display: flex;
    font-size: 1.2vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: 10%;
    margin: 0.2em;
    background: transparent;
}

.newtask > p {
    margin-left: 1vw;
}

.pStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    flex: 4 1 auto;
}

input[type=checkbox] {
    width: 1vw;
    height: 2vh;
    margin: 1vw;
}

::placeholder {
    color: lightgray;
    opacity: 1;
}



@media screen and (max-width: 920px) {
    .newtaskform {
        flex-direction: column;
        padding: 1vh;
    }

    .form {
        width: 50vw;
    }

    .form > input {
        width: 25vw;
        font-size: 2vw;
    }

    .form > .btn {
        width: 25vw;
    }

    .newtaskform > input[type=text], input[type=date], select, select option, .btn {
        font-size: 1.8vw;
        width: 28vw;
        text-align: center;
        padding: 0.4vw;
        margin: 1vw;
    }

    .todo > * {
        height: 8%;
    }

    h1 {
        font-size: 2.5vh;    
    }

    h2 {
        font-size: 3vw;
    }

    p {
        font-size: 1.8vw;
    }

    .title {
        min-width: 25vw;
    }
}